{% extends 'layout.njk' %}

{% block content %}
<section class="form-section">
  <form action="/products" method="post" enctype="multipart/form-data">
    <h3 class="form-section__title">Cadastrar produto</h3>
    <div class="form-section__fields">
      {% include 'products/fields.njk' %}
    </div>
    <button class="button" type="submit" onclick="fillAllFields(event)">Salvar</button>
  </form>
</section>
{% endblock %}
